@page "/history"
@using FinalProjDemo.Data;
@using Microsoft.AspNetCore.Authentication
@using Microsoft.EntityFrameworkCore;
@inject IHttpClientFactory httpClientFactory;
@inject IHttpContextAccessor contextAccessor;

<h3>Forecasts</h3>

<button class="btn btn-primary" @onclick=addForecast>Add Forecast</button>

@foreach(var forecast in ForecastList)
{
    <p>@forecast.Date</p>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await RefreshAsync();
    }

    private async Task addForecast()
    {
        var newForecast = new WeatherForecast
            {
                Date = ForecastList.Max(f => f.Date).AddDays(1),
                Summary = $"Forecast #{ForecastList.Count()}",
                TemperatureC = ForecastList.Max(f => f.TemperatureC) + 1
            };
        var token = await contextAccessor.HttpContext.GetTokenAsync("access_token");

        //try getting token this way
        //https://learn.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow
        var graphClient = new HttpClient();
        var clientId = "";
        var tenant = "";
        var clientSecret = "";
        var tokenResponse = graphClient.PostAsync("https://login.microsoftonline.com/{tenant}/oauth2/v2.0/token", $"client_id={clientId}&scope=https://graph.microsoft.com/.default&client_secret={clientSecret}&grant_type=client_credentials");

        var httpClient = httpClientFactory.CreateClient("MyApi");
        try
        {
            var response = await httpClient.PostAsJsonAsync("/weatherforecast", newForecast);
            response.EnsureSuccessStatusCode();
        }
        catch(Exception ex)
        {
            throw;
        }
    }

    private async Task RefreshAsync()
    {
        var httpClient = httpClientFactory.CreateClient("MyApi");
        ForecastList = await httpClient.GetFromJsonAsync<IEnumerable<WeatherForecast>>("/weatherforecast");
        if(ForecastList.Any() is false)
        {
            ForecastList = new List<WeatherForecast>(new[]{
                new WeatherForecast
                    {
                        Date = new DateTime(2012, 12, 22, 0, 0, 0, DateTimeKind.Utc),
                        Summary = "Apocolyptic",
                        TemperatureC = 500
                    }
            });
        }
    }

    public IEnumerable<WeatherForecast> ForecastList { get; set; } = new List<WeatherForecast>();
}
