@page "/"
@using SendGrid;
@using SendGrid.Helpers.Mail;
@inject IConfiguration config;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<input @bind=message />
<button @onclick=sendEmail>Send Email</button>

@code {
    string message;

    async Task sendEmail()
    {
        try
        {
            var apiKey = config["SendgridApiKey"];
            var client = new SendGridClient(apiKey);
            var from = new EmailAddress("jallen@snow.edu", "Jonathan Allen");
            var subject = "Sending with SendGrid is Fun";
            var to = new EmailAddress("jonathan.allen@live.com", "External email account");
            var plainTextContent = "and easy to do anywhere, even with C#";
            var htmlContent = "<strong>and easy to do anywhere, even with C#</strong>";
            var msg = MailHelper.CreateSingleEmail(from, to, subject, plainTextContent, htmlContent);
            var response = await client.SendEmailAsync(msg);
            message = "Message sent ok.";
        }
        catch (Exception ex)
        {
            message = ex.ToString();
        }
    }
}